.env

proxy/nginx-proxy
proxy/data/nginx/*
!proxy/data/nginx/my_proxy.conf
proxy/data/nginx-proxy-certs

gitlab/backups
gitlab/data

languagetool/ngrams/*
!languagetool/ngrams/.gitkeep

freshrss/backups/*
!freshrss/backups/.gitkeep
freshrss/data

hakatime/backups/*
!hakatime/backups/.gitkeep

ciao/data